* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;

  position: absolute;
  z-index: -1;
  background-color: #535971;
}

/* PAGE */
.page {
  width: 750px;
  margin: auto;
}

/* HEADER */
header {
  padding: 140px 0 58px 0;

  display: flex;
  flex-direction: column;
  gap: 18px;

  color: #fff;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

header p {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

/* FORM */
form {
  padding: 64px;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* FORM FIELDSET */
fieldset {
  border: none;
}

.fieldset-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldset-container legend {
  color: #535971;

  font-family: Staatliches;
  font-size: 24px;
  font-weight: 400;

  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6f0;
}

.data-container {
  display: flex;
  flex-direction: column;
}

.data-container label {
  color: #4e4958;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.data-container label span {
  color: #c1bccc;
  font-size: 12px;
  font-weight: 400;

  margin-left: 8px;
}

.data-container input {
  height: 56px;

  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);
}

.mentory-title {
  color: #535971;

  font-family: Staatliches;
  font-size: 20px;
  font-weight: 400;
}

.data-container-2 {
  display: flex;
  gap: 20px;
}

.data-container-2 > div:nth-child(1) {
  width: 100%;
}

.data-container-3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data-container-3 > p {
  color: #535971;

  font-family: Staatliches;
  font-size: 20px;
  font-weight: 400;
}

/* FOOTER */
footer {
  border-radius: 0px 0px 20px 20px;
  background: #535971;
  height: 160px;

  padding: 52px 70px;
  margin-bottom: 50px;
}

footer .button {
  display: flex;
  width: 608px;
  height: 56px;
  padding: 15px 40px;

  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 20px;
  background: #ff5374;

  color: #fff;

  font-family: Staatliches;
  font-size: 20px;
  font-weight: 400;
}

footer .button:hover {
  background: #c33350;
}
